name: Maven build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read
      packages: write
    name: Maven build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3.5.3

    - name: Set up JDK 21
      uses: actions/setup-java@v3.11.0
      with:
        java-version: '21'
        distribution: 'zulu'
        java-package: jdk
        architecture: x64

    - name: Cache Maven Packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build With Maven
      run: mvn -s settings.xml clean package --file pom.xml
      env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Capture Release Artifacts
      uses: actions/upload-artifact@v4
      with:
          name: Artifacts
          path: target/*.jar

    - name: Publish package
      run: mvn --batch-mode deploy
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}